.local/
.Trash/
.cache/
.config/
.pki/
.swp
.DS_Store
*.tmp
*.log
.bash_history
.bash_logout
.bashrc
.pam_environment
.profile
.lesshst
.wget-hsts
.gitconfig
Descargas/
Documentos/
Imágenes/
snap/
.gnupg/
.ssh/
.vscode/
.dotnet/
.sudo_as_admin_successful
directory-info.sh.save
list.commands
list.file
list.unique
repos/progra/p-var-jpedrj00/
repos/so/practica-shell-scripting-jpedrj00/
